@(coffeeForm: Form[Coffee], suppliers: Seq[(String, String)])

@import helper._

@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapInput.f) } 

@main {
    
    <h1>Add a coffee</h1>
    
    @form(routes.CoffeesController.save()) {
        
        <fieldset>
        
            @inputText(coffeeForm("name"), Symbol("_label") -> "Coffee name")
            @inputText(coffeeForm("price"), Symbol("_label") -> "Price")
            @inputText(coffeeForm("sales"), Symbol("_label") -> "Sales")
            @inputText(coffeeForm("total"), Symbol("_label") -> "Total")

            @select(
                coffeeForm("supID"),
                suppliers,
                Symbol("_label") -> "Supplier", Symbol("_default") -> "-- Choose a supplier --",
                Symbol("_showConstraints") -> false
            )
            

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this coffee" class="btn primary"> or 
            <a href="@routes.CoffeesController.list()" class="btn">Cancel</a> 
        </div>
        
    }
    
}
